Repository blokur/testament, changes with the labels that .github/labeler.yml gives for each.
All labels: comparers, slices, strings, errors, documentation, ci

.github/labeler.yml:

comparers:
  - comparers.go
  - comparers_test.go

slices:
  - slices.go
  - slices_test.go

strings:
  - strings.go
  - strings_test.go

errors:
  - errors.go
  - errors_test.go

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*
  - .golangci.yml

feat(comparers): add string slice comparer
  .github/workflows/go.yml
  .golangci.yml
  README.md
  comparers.go
  comparers_test.go
  go.mod
  go.sum
Labels: comparers, documentation, ci

ref(comparers): prevent in-place sort
  comparers.go
  comparers_test.go
Labels: comparers

fix(errors): get code from wrapped grpc errors
  errors.go
  errors_test.go
Labels: errors

ref(net): move network related into new package
  errors.go
  errors_test.go
  net.go
  net_test.go
Labels: errors

chore(dependencies): update modules
  go.mod
  go.sum
Labels: none

ci: update golangci-lint setup
  .github/workflows/go.yml
  .golangci.yml
  Makefile
Labels: ci

docs: update documentation
  docs.go
Labels: none

ci: update the linters and workflows
  .github/workflows/go.yml
  .golangci.yml
  Makefile
  docs.go
Labels: ci

feat(strings): add creating random s3 file names
  go.mod
  go.sum
  strings.go
  strings_test.go
Labels: strings

chore(dependencies): update modules
  .golangci.yml
  go.mod
  go.sum
  strings.go
Labels: strings, ci

feat(slices): add unsigned variations
  slices.go
  slices_test.go
Labels: slices

feat(comparers): add unsigned variations
  comparers.go
  comparers_test.go
Labels: comparers
